//colors
$orange: #e45028;
$yellow: #f9b43b;
$black: #2f3234;
$red: #e35028;

//normalize
// @import "css/_misc/normalize.scss";
@import "_misc/normalize.scss";

//setup
@import "_misc/layout.scss";
@import "_misc/fonts.scss";


//components
@import "blocks/hero.scss";
@import "blocks/title.scss";

//component_logo
// @import "blocks/logo.scss";

//component header navigation
@import "blocks/nav.scss";


