.hero {
  background: url("../icons/video-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__container {
  justify-content: flex-start;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__buttons {
  display: flex;
}

.btn {
  padding: 9px 16px;
  border-radius: 7px;
  background-color: $red;
  text-decoration: none;
  color: #fff;
  margin-left: 20px;
}


