.nav {
    display: flex;
    //justify-content: space-between;
    /*align-items: center;
    li {
        list-style-type: none;
    }*/
}

.nav__items {
    display: flex;
    align-items: center;

    
    &:first-child {
        &:before {
            display: none;
        }
    }

    &:before {
        content: "";
        display: block;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: #fff;
        margin: 0 16px;
    }
}


.nav__link {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
}