.hero__content {
  display: flex;
  align-items: center;

}

.title {
    font-family: 'Gagalin-Regular';
    font-size: 72px;
    color: black;
    margin-bottom: 45px;
    
    &--color {
        &_yellow {
            color: $yellow;
        }
    }
}

.hero__subtitle {
    font-size: 65px;
    font-family: "Lifehack Medium";
    color: #fff;
}